@tailwind base;
@tailwind components;
@tailwind utilities;
/* npx tailwindcss -i ./src/css/input.css -o ./src/css/output.css --watch */

/* Remove default look */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ffffff;
  height: 3px;
  border-radius: 3px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: -4px;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: #ffffff;
  height: 3px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #000;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #3c3b3b;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #7b7878;
}

.player-control-icon {
  color: #9ca3af;
}
.control-active .player-control-icon {
  color: #b64a4a;
  /* color: #c58422;  */
}

#player-progress,
#player-volume {
  color: white !important;
}

#player-progress::-webkit-slider-runnable-track,
#player-volume::-webkit-slider-runnable-track {
  background-color: white !important;
}

#player-progress::-webkit-slider-thumb,
#player-volume::-webkit-slider-thumb {
  background-color: white !important;
}
